
     ion-item-option{
        background:#1f1f1f;
     }
     ion-icon {
        background:#1f1f1f;
        padding:0;
        margin: 0;
        border: 0px;
     }
     ion-label {
        --color: white;
     }
    ion-back-button {
        --color: white;
        --weight: 700;
    }


    