/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
// NA STYLOVANÍ DATETIME PICKERU



.background {
    background-color: #4ca0af;
}
.centered {
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    
}
.cent  {
 display: grid;
 place-content: center;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.circle-button {
    margin-top: 25px;
    width: 220px;
    height: 110px;
    border-radius: 50%;
    background-color: #00076f;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 15px;
  }
  
  
  .circle-button:active {
    transform: scale(0.95);
  }

  .circle-button2 {
    
    width: 220px;
    height: 110px;
    border-radius: 20%;
    background-color: #00076f;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 15px;
  }
  
 
  
  .circle-button2:active {
    transform: scale(0.95);
  }

  
  .button-outline {
    --color: #1f1f1f;
  }
  




     ion-label {
      --color: white;
   }
  ion-back-button {
      --color: white;
      --weight: 700;
  }









